<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
    <p><%= notice %></p>
    <h1>Tweetフォーム</h1>
      <%= link_to "つぶやく", new_contact_path, class: 'btn btn-default' %>
    <% @contacts.each do |contact| %>
    <div class="row">
      <p><%= contact.content %></p>
      <%= link_to "編集", edit_contact_path(contact.id), class: 'btn btn-sm btn-success' %>
      <%= link_to "削除", contact_path(contact.id), method: :delete, data: { confirm: '本当に削除していいですか？'}, class: 'btn btn-sm btn-danger' %>
    </div>
    <% end %>
  </div>
</div>